**/node_modules
**/.turbo
.git
.env*
apps/web/.next*
apps/web/playwright-report
apps/web/test-results
**/coverage
apps/api/dist
packages/*/dist
storage
**/*.dump
**/*.pem
**/*.key
**/private-chat-files
**/storage
**/*.log
